{% extends 'base.html.twig' %}

{% block title %}Mon compte - Mot de passe{% endblock %}

{% block content %}
    <h1>Mon Compte</h1>
    <a href="{{ path('account') }}">Retourner à mon compte</a><br/>
    <hr>
        {% if notification %}
            <div class="alert alert-info">
                {{ notification }}
            </div>
        {% endif %}
        {{ form(form) }}
    <hr><br>
{% endblock %}